*
{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}


body
{
background:#081b33;
color:white;
}



/* SIDEBAR */

.sidebar
{
position:fixed;
left:0;
top:0;
height:100vh;
width:260px;
background:#061426;
padding:25px;
}



.logo
{
font-size:25px;
font-weight:700;
color:#38bdf8;
margin-bottom:40px;
}


.logo i
{
margin-right:10px;
}



.sidebar ul
{
list-style:none;
}



.sidebar ul li
{
margin:15px 0;
}



.sidebar ul li a
{
color:#cbd5e1;
text-decoration:none;
padding:14px;
display:block;
border-radius:12px;
}



.sidebar ul li a:hover,
.sidebar .active a
{
background:#2563eb;
color:white;
}







/* MAIN */

.main
{
margin-left:260px;
padding:30px;
}





/* TOPBAR */


.topbar
{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}


.topbar h2
{
font-size:30px;
}



.topbar p
{
color:#94a3b8;
}



.profile
{
display:flex;
align-items:center;
gap:15px;
}


.profile img
{
width:50px;
height:50px;
border-radius:50%;
}






/* SCORE */


.score-card
{
background:#10243f;
padding:30px;
border-radius:20px;
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}



.score
{
font-size:55px;
font-weight:700;
color:#22c55e;
}






/* GRID */


.result-grid
{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;
}





.result-card,
.wide-card
{
background:#10243f;
padding:25px;
border-radius:20px;
margin-bottom:25px;
}



.result-card h3,
.wide-card h3
{
color:#38bdf8;
margin-bottom:20px;
}



.content-box,
.resume-box
{
background:#061426;
padding:20px;
border-radius:15px;
line-height:1.8;
color:#e2e8f0;
}




.resume-box
{
min-height:200px;
}







/* BUTTONS */


.action-buttons
{
display:flex;
gap:20px;
justify-content:center;
margin-top:40px;
}



.btn
{
padding:14px 30px;
border-radius:12px;
text-decoration:none;
font-weight:600;
}



.primary
{
background:#2563eb;
color:white;
}



.secondary
{
background:#334155;
color:white;
}



.btn:hover
{
opacity:.85;
}







@media(max-width:900px)
{

.sidebar
{
width:80px;
}


.main
{
margin-left:80px;
}



.result-grid
{
grid-template-columns:1fr;
}


}