*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


body
{
    background:#081b33;
    color:white;
}



/* =========================
SIDEBAR
========================= */


.sidebar
{
    position:fixed;
    left:0;
    top:0;
    width:260px;
    height:100vh;
    background:#061426;
    padding:25px;
}



.logo
{
    font-size:25px;
    font-weight:700;
    color:#38bdf8;
    margin-bottom:40px;
}


.logo i
{
    margin-right:10px;
}



.sidebar ul
{
    list-style:none;
}



.sidebar ul li
{
    margin:15px 0;
}



.sidebar ul li a
{
    display:block;
    padding:14px;
    color:#cbd5e1;
    text-decoration:none;
    border-radius:12px;
    transition:.3s;
}



.sidebar ul li a:hover,
.sidebar ul li.active a
{
    background:#2563eb;
    color:white;
}







/* =========================
MAIN AREA
========================= */


.main
{
    margin-left:260px;
    padding:30px;
}






/* =========================
TOPBAR
========================= */


.topbar
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}



.topbar h2
{
    font-size:30px;
}



.topbar p
{
    color:#94a3b8;
}





.profile
{
    display:flex;
    align-items:center;
    gap:15px;
}



.profile img
{
    width:55px;
    height:55px;
    border-radius:50%;
}








/* =========================
SETTINGS
========================= */


.settings-container
{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}





.settings-card
{
    background:#10243f;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}



.settings-card h3
{
    color:#38bdf8;
    margin-bottom:25px;
    font-size:22px;
}



.settings-card h3 i
{
    margin-right:10px;
}







.settings-card label
{
    display:block;
    margin-bottom:8px;
    color:#cbd5e1;
}





.settings-card input
{
    width:100%;
    padding:14px;
    margin-bottom:20px;
    border:none;
    outline:none;
    border-radius:12px;
    background:#061426;
    color:white;
}





.settings-card input:focus
{
    border:1px solid #2563eb;
}








/* BUTTON */


.save-btn
{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#2563eb;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}



.save-btn:hover
{
    background:#1d4ed8;
}








/* RESPONSIVE */


@media(max-width:900px)
{

.sidebar
{
    width:80px;
}


.main
{
    margin-left:80px;
}



.settings-container
{
    grid-template-columns:1fr;
}

}